<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create New Listings</h3>
    <form method="post" action="/listings">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]"   placeholder="enter title" class="form-label"><br><br>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
<textarea type="text"  name="listing[description]" placeholder="enter description" class="form-label"></textarea><br><br>

        </div>
<div>
    <label for="url" class="form-label">Image URL</label>

    <input type="text"  name="listing[image]" placeholder="enter image URL/link" class="form-label"><br><br>
</div>
<div>
    <label for="price" class="form-label">Price</label>

    <input type="number" name="listing[price]" placeholder="enter price" class="form-label"><br><br>
</div>
<div>
    <label for="country" class="form-label">Country</label>

    <input type="text" name="listing[country]" placeholder="enter country" class="form-label"><br><br>
</div>
<div>
    <label for="location" class="form-label">Location</label>
    <input type="text" name="listing[location]" placeholder="enter location" class="form-label"><br><br>
</div>


<button>Add</button>
    </form>
</body>
</html>